<!DOCTYPE html>
<html lang="pt_br">
	<head>
		<meta charset="utf-8" />

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>{% block title %}GeoLiberty{% endblock %}</title>
		<meta name="description" content="" />
		<meta name="author" content="Guto Foletto" />

		<meta name="viewport" content="width=device-width; initial-scale=1.0" />
		
		<link rel="stylesheet" href="/assets/css/bootstrap.css">
		<link rel="stylesheet" href="/assets/css/geoliberty.css">
		{% block styles %}{% endblock %}

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
	</head>

	<body>
		<header>
			<div class="navbar navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container-fluid">
						<a href="/" class="brand">{% block brand %}GeoLiberty{% endblock %}</a>
						<p class="navbar-text">
							{% block brand-text %}
							{% endblock %}
						</p>
					</div>
				</div>
			</div>
		</header>

		<div class="container-fluid">
			<div class="row-fluid">
				<nav>
					<div class="span3">
						<div class="well" style="padding: 8px 0;">
							<ul class="nav nav-list">
								{% block menu-geoliberty %}
								<li class="nav-header">
									Mapas GeoLiberty
								</li>
								<!--<li class="active">-->
									<a href="/paises/">Países</a>
								</li>
								<li>
									<a href="/regioes/">Regiões</a>
								</li>
								<li>
									<a href="/estados/">Estados</a>
								</li>
								<li>
									<a href="/mesorregioes/">Mesorregiões</a>
								</li>
								<li>
									<a href="/microrregioes/">Microrregiões</a>
								</li>
								<li>
									<a href="/municipios/">Municípios</a>
								</li>
								<li>
									<a href="/geopoliticas">Regiões Geopolíticas</a>
								</li>
								<li>
									<br><br>
								</li>
								<li>
									<a href="/admin">Administração</a>
								</li>
								{% endblock %}
								
								{% block menu %}
								{% endblock %}
							</ul>
						</div>
					</div>
				</nav>
				<div class="span9">
					<div class="container-fluid">
						<div class="page-header">
							<h1>{% block page-header %}GeoLiberty{% endblock%} <small>{%block page-header-small%}Liberdade Cartográfica{%endblock%}</small></h1>
						</div>
						{% block conteudo %}
						{% endblock %}
					</div>
				</div>
			</div>
		</div>

		<footer>
			<hr />
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span12">
						<p>Desenvolvido por Guto Foletto e Paulo Henrique Vianna</p>
						<p>Projeto Orientado por Joel da Silva</p>
						<p>Colégio Agrícola de Frederico Westphalen</p>
						<p>Universidade Federal de Santa Maria</p>
					</div>
				</div>
			</div>
			
		</footer>
	</body>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="/assets/js/bootstrap.js"></script>
	{% block scripts %}{% endblock %}
</html>
