{% extends "base.html" %}

{% block title %}
	MapAgro > {% block section %}Inicio{% endblock %}
{% endblock %}

{% block menu-geoliberty %}
{% endblock %}


{% block menu %}
	<li class="nav-header">
		MapAgro
	</li>
	<li>
		<a href="/mapagro/">Início</a>
	</li>
	<li>
		<a href="/mapagro/beneficiarios/">Beneficiários</a>
	</li>
	<li>
		<a href="/mapagro/mapa_beneficiarios/">Mapa Beneficiários</a>
	</li>
	<li>
		<br><br>
	</li>
	<li>
		<a href="/admin/mapagro">Administração</a>
	</li>
	<li>
		<a href="/mapagro/logout/">Logout</a>
	</li>
	
{% endblock %}

{% block page-header %}
	MapAgro
{% endblock %}
{% block page-header-small %}
	Mapeamento Agrícola
{% endblock %}
