{% extends "base_mapagro.html" %}

{% block conteudo %}
<div class="row-fluid">
		<p align="Justify">Em trabalho realizado conjuntamente com alunos do curso de Agronomia da Universidade Federal de Santa Maria, campus de Frederico Westphalen, foram realizadas análises voltadas ao desenvolvimento de um software para internet com características que pudessem auxiliar tecnologicamente na realização de ações ligadas ao Programa Territórios da Cidadania na região do Médio Alto Uruguai. 
Em projeto de pesquisa anterior foi realizado o desenvolvimento de uma aplicação que utiliza dados geográficos para oferecer suporte aos apicultores do município de Erval Seco/RS, o sistema se chama MapAgro. Porém notou-se que aplicações como esta poderiam ser utilizadas em diferentes culturas. Com isso foi realizado o desenvolvimento de uma nova versão do MapAgro, construída utilizando recursos do GeoLiberty e possibilitando a administração de diversas culturas agrícolas em paralelo, além de dados específicos de beneficiários do programa Territórios da Cidadania.</p>
</div>
{% endblock %}